# Guess Industry Name With The Stock Indices

In [1]:
import pandas as pd
from torch.optim import Adam
from torch.utils.data import DataLoader,Dataset
from torch.nn.utils import rnn
import math
import numpy as np
import torch
from ray.matchbox import DF_Dataset,Trainer,save_model,load_model
from ray.armory import mem

#### Obvious improvements to make

* Try Attentional LSTM
* More features(only five for now)
* Deeper layers in LSTM
* Bidirectional LSTM
* Attentional RNN
* Try GRU instead of LSTM (use nn.GRU)
* Put on other metrics other than Mean Square Error

In [2]:
MODEL_PATH = "/data/money_move_.0.0.1.npy"
TRAIN = False
LAG = 5

In [3]:
data_df = pd.read_csv("/data/stock_hist_data.csv")
data_df.sample(10)

,sn,ts_code,trade_date,open,high,low,close,pre_close,change,pct_change,vol,amount,indu,indu_en
7401668,1472,000973.SZ,20120327,9.17,9.25,9.07,9.09,9.11,-0.02,-0.2200,66723.86,61107.8706,塑料,plastic
5437957,155,002472.SZ,20180308,8.89,9.00,8.86,8.96,8.94,0.02,0.2200,16503.21,14750.4260,机械基件,Mechanical base parts
2290861,54,600031.SH,20180803,9.13,9.19,8.90,8.94,9.22,-0.28,-3.0369,962021.51,868172.2250,工程机械,Engineering machinery
31727,1037,600857.SH,20140625,12.35,12.35,11.79,12.04,12.27,-0.23,-1.8700,48946.24,58533.9810,百货,Department store
3726195,1958,000903.SZ,20100121,13.45,13.63,13.30,13.45,13.45,0.00,0.0000,46977.75,63261.9733,机械基件,Mechanical base parts
7730464,595,601608.SH,20160129,4.46,4.69,4.40,4.66,4.44,0.22,4.9600,231660.29,105909.3080,专用机械,Special machinery
6537897,767,600793.SH,20141204,13.30,13.45,13.22,13.24,13.29,-0.05,-0.3800,12450.31,16587.2980,造纸,papermaking
192039,841,002642.SZ,20141105,34.46,34.58,33.40,34.01,34.48,-0.47,-1.3600,25704.80,87028.1341,软件服务,software service
4929255,877,300303.SZ,20150303,20.88,21.10,20.29,20.70,21.04,-0.34,-1.6200,54078.06,112031.0737,半导体,semiconductor
4859812,853,300111.SZ,20140708,3.64,3.66,3.56,3.62,3.64,-0.02,-0.5500,202494.27,72910.0764,半导体,semiconductor

In [4]:
grouped_stock = list(data_df.groupby("ts_code"))

In [5]:
data_df["o_h"] = (data_df.high - data_df.open)
data_df["o_c"] = (data_df.close - data_df.open)
data_df["o_l"] = (data_df.low - data_df.open)
data_df["h_c"] = (data_df.close - data_df.high)
data_df["l_c"] = (data_df.close - data_df.low)
data_df["l_h"] = (data_df.high - data_df.low)

In [6]:
data_df["oh_p"] = data_df.o_h/data_df.l_h
data_df["oc_p"] = data_df.o_c/data_df.l_h
data_df["ol_p"] = data_df.o_l/data_df.l_h
data_df["hc_p"] = data_df.h_c/data_df.l_h
data_df["lc_p"] = data_df.l_c/data_df.l_h

In [7]:
data_df = data_df[["sn","ts_code","trade_date","oc_p","ol_p","lc_p","oc_p","hc_p","pct_change"]]

data_df = data_df.fillna(0.)

In [8]:
data_df.head(10)

,sn,ts_code,trade_date,oc_p,ol_p,lc_p,oc_p,hc_p,pct_change
0,0,603208.SH,20181026,0.172414,-0.413793,0.586207,0.172414,-0.413793,0.9291
1,1,603208.SH,20181025,0.218182,-0.436364,0.654545,0.218182,-0.345455,-2.1531
2,2,603208.SH,20181024,-0.068182,-0.181818,0.113636,-0.068182,-0.886364,-0.8539
3,3,603208.SH,20181023,-0.461538,-0.897436,0.435897,-0.461538,-0.564103,-0.8467
4,4,603208.SH,20181022,0.759259,-0.037037,0.796296,0.759259,-0.203704,4.5231
5,5,603208.SH,20181019,0.575000,-0.250000,0.825000,0.575000,-0.175000,1.4464
6,6,603208.SH,20181018,0.355556,-0.622222,0.977778,0.355556,-0.022222,-0.4469
7,7,603208.SH,20181017,-0.156250,-0.984375,0.828125,-0.156250,-0.171875,0.7000
8,8,603208.SH,20181016,-0.605263,-1.000000,0.394737,-0.605263,-0.605263,-2.7237
9,9,603208.SH,20181015,0.058824,-0.602941,0.661765,0.058824,-0.338235,-1.9552

In [9]:
ts_code_ct = data_df.groupby("ts_code").count()[["sn"]]

In [10]:
ts_code_ct["sn_ct"] = ts_code_ct.sn.apply(lambda x:x>30)

In [11]:
ts_code_ct.sample(5)

             sn  sn_ct
ts_code
603903.SH   397   True
300058.SZ  1900   True
002057.SZ  2716   True
603828.SH   804   True
002192.SZ  2514   True

In [12]:
ts_code_ct = ts_code_ct.sort_values(by = "sn",ascending=False)
valid_ts_code = ts_code_ct[ts_code_ct.sn_ct]

In [13]:
valid_ts_code.tail(5)

           sn  sn_ct
ts_code
603590.SH  39   True
002933.SZ  38   True
603192.SH  38   True
601068.SH  35   True
002935.SZ  34   True

In [14]:
first = data_df.reset_index().groupby("ts_code").first()[["index"]].rename(columns={"index":"first"})
last = data_df.reset_index().groupby("ts_code").last()[["index"]].rename(columns={"index":"last"})

In [15]:
valid_ts_code = valid_ts_code.join(first).join(last)

In [16]:
valid_ts_code.head()

             sn  sn_ct    first     last
ts_code
000001.SZ  4000   True  4128141  4132140
600097.SH  4000   True  1276082  1280081
600112.SH  4000   True  2742589  2746588
600111.SH  4000   True  5101362  5105361
600110.SH  4000   True  2281116  2285115

In [17]:
dict(valid_ts_code.loc["600112.SH"])

{'first': 2742589, 'last': 2746588, 'sn': 4000, 'sn_ct': True}

### Preprocess Function

In [18]:
def xy_pre_row(loc,stop):
    basic = data_df[loc["first"]:loc["first"]+stop]
    arr = basic[["oc_p","ol_p","lc_p","oc_p","hc_p"]].values
    arr_x,arr_y = arr[:-LAG,:],arr[-LAG:,:]
    return torch.FloatTensor(arr_x),torch.FloatTensor(arr_y)

def xy_pre(df):
    res_x,res_y = [],[]
    for i in range(len(df.index)):
        idx = df.index[i]
        loc_dict = dict(df.loc[idx])
        if i== 0:
            maxlen = loc_dict["last"]-loc_dict["first"]
            stop = min(maxlen,800)-int(np.random.rand()*.3*min(maxlen,800))
        x,y = xy_pre_row(loc_dict,stop)
        res_x.append(x)
        res_y.append(y)
    tensor_x = rnn.pad_sequence(res_x,batch_first=True,)
    tensor_y = rnn.pad_sequence(res_y,batch_first=True)
    return tensor_x,tensor_y

def x_pre_row(loc,stop):
    basic = data_df[loc["first"]:loc["first"]+stop]
    arr = basic[["oc_p","ol_p","lc_p","oc_p","hc_p"]].values
    return torch.FloatTensor(arr)

def x_pre(df):
    res_x,res_y = [],[]
    for i in range(len(df.index)):
        idx = df.index[i]
        loc_dict = dict(df.loc[idx])
        if i== 0:
            maxlen = loc_dict["last"]-loc_dict["first"]
            stop = min(maxlen,800)-int(np.random.rand()*.3*min(maxlen,800))
        x = x_pre_row(loc_dict,stop)
        res_x.append(x)
    tensor_x = rnn.pad_sequence(res_x,batch_first=True,)
    return tensor_x

def get_ts(df):
    return list(df.index)

def stock_collate(batch):
    arrs,_ = zip(*batch)
    arrs_x,arrs_y = zip(*arrs)
#     print(arrs_x)
    return arrs_x,arrs_y

def stock_collate_inf(batch):
    arrs,ts_list = zip(*batch)
#     print(arrs_x)
    return arrs,ts_list

In [19]:
split = (np.random.rand(len(valid_ts_code))>.7)

In [20]:
ds = DF_Dataset(valid_ts_code,x_pre,get_ts,bs=12,shuffle=False)
train_ds = DF_Dataset(valid_ts_code[~split],x_pre,lambda x:0,bs=12,shuffle=False)
valid_ds = DF_Dataset(valid_ts_code[split],x_pre,lambda x:0,bs=12,shuffle=False)

#### Testing dataset and how it performs in generator

In [21]:
# dl = DataLoader(ds,batch_size=1,shuffle=True,collate_fn=stock_collate)
dl = DataLoader(ds,batch_size=1,shuffle=True,collate_fn=stock_collate_inf)

In [22]:
gen = iter(dl)
for i in range(1):
    x,y = next(gen)
    print(x[0],y[0])

tensor([[[-0.6250, -0.6250, -0.7955,  ..., -0.6250, -0.6250, -0.8295],
         [ 0.6782,  0.6782, -0.2414,  ...,  0.6782,  0.6782, -0.0805],
         [ 0.3585,  0.3585, -0.1698,  ...,  0.3585,  0.3585, -0.4717],
         ...,
         [-0.4532, -0.4532, -0.4964,  ..., -0.4532, -0.4532, -0.9568],
         [-0.7344, -0.7344, -1.0000,  ..., -0.7344, -0.7344, -0.7344],
         [ 0.3120,  0.3120, -0.3920,  ...,  0.3120,  0.3120, -0.2960]],

        [[-0.3415, -0.3415, -0.5122,  ..., -0.3415, -0.3415, -0.8293],
         [ 0.4340,  0.4340, -0.3208,  ...,  0.4340,  0.4340, -0.2453],
         [-0.5581, -0.5581, -0.5814,  ..., -0.5581, -0.5581, -0.9767],
         ...,
         [ 0.4444,  0.4444, -0.3704,  ...,  0.4444,  0.4444, -0.1852],
         [ 0.5753,  0.5753, -0.1918,  ...,  0.5753,  0.5753, -0.2329],
         [ 0.5517,  0.5517, -0.2000,  ...,  0.5517,  0.5517, -0.2483]],

        [[-0.5306, -0.5306, -0.7551,  ..., -0.5306, -0.5306, -0.7755],
         [ 0.9118,  0.9118, -0.0588,  ...,  0.9118,  0.9118, -0.0294],
         [ 0.1290,  0.1290, -0.2903,  ...,  0.1290,  0.1290, -0.5806],
         ...,
         [-0.2817, -0.2817, -0.7324,  ..., -0.2817, -0.2817, -0.5493],
         [-0.8706, -0.8706, -1.0000,  ..., -0.8706, -0.8706, -0.8706],
         [ 0.3654,  0.3654, -0.0865,  ...,  0.3654,  0.3654, -0.5481]],

        ...,

        [[-0.6360, -0.6360, -0.6842,  ..., -0.6360, -0.6360, -0.9518],
         [ 0.2727,  0.2727, -0.5455,  ...,  0.2727,  0.2727, -0.1818],
         [-0.5492, -0.5492, -0.7787,  ..., -0.5492, -0.5492, -0.7705],
         ...,
         [-0.2699, -0.2699, -0.3865,  ..., -0.2699, -0.2699, -0.8834],
         [-0.8799, -0.8799, -0.9011,  ..., -0.8799, -0.8799, -0.9788],
         [ 0.3834,  0.3834, -0.0785,  ...,  0.3834,  0.3834, -0.5381]],

        [[-0.2571, -0.2571, -0.7143,  ..., -0.2571, -0.2571, -0.5429],
         [ 0.7273,  0.7273,  0.0000,  ...,  0.7273,  0.7273, -0.2727],
         [ 0.4667,  0.4667,  0.0000,  ...,  0.4667,  0.4667, -0.5333],
         ...,
         [-0.8174, -0.8174, -0.8522,  ..., -0.8174, -0.8174, -0.9652],
         [-0.9533, -0.9533, -0.9813,  ..., -0.9533, -0.9533, -0.9720],
         [ 0.6129,  0.6129, -0.0565,  ...,  0.6129,  0.6129, -0.3306]],

        [[-0.7297, -0.7297, -0.8378,  ..., -0.7297, -0.7297, -0.8919],
         [ 0.6533,  0.6533, -0.1733,  ...,  0.6533,  0.6533, -0.1733],
         [-0.4615, -0.4615, -0.7692,  ..., -0.4615, -0.4615, -0.6923],
         ...,
         [-0.7429, -0.7429, -0.7571,  ..., -0.7429, -0.7429, -0.9857],
         [-0.9692, -0.9692, -1.0000,  ..., -0.9692, -0.9692, -0.9692],
         [ 0.4082,  0.4082, -0.0204,  ...,  0.4082,  0.4082, -0.5714]]]) ['002862.SZ', '300635.SZ', '300639.SZ', '300637.SZ', '603429.SH', '300638.SZ', '603797.SH', '603050.SH', '603826.SH', '300604.SZ', '002861.SZ', '002863.SZ']

In [23]:
from torch import nn
CUDA = torch.cuda.is_available()
print("with_gpu",CUDA)

with_gpu True

### Encoder Decoder Structure with some lag in days

In [24]:
DIM = 1024
N_LAYER = 1

class money1(nn.Module):
    def __init__(self):
        super(money1,self).__init__()
        self.encoder = nn.LSTM(input_size = 7,
                          hidden_size = DIM,
                          batch_first = True,bias = True)
        self.decoder = nn.LSTM(input_size = DIM,
                          hidden_size = 7,
                          batch_first = True,bias = True)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()
    
    def forward(self,x):
        output, (h_n,c_n) = self.encoder(x)
        outpout = self.relu(output)
        input_recon,_ = self.decoder(output)
        return input_recon

In [25]:
Money = money1()
if CUDA:
    torch.cuda.empty_cache()
    Money.cuda() 

opt = Adam(Money.parameters(),lr=1e-5)
loss_f = nn.MSELoss()

infe_list = []

def action(*args,**kwargs):
    data_ = args[0][0].squeeze(0)
    x = data_[:,-LAG:,:]
    y = data_[:,:LAG,:]
    opt.zero_grad()
    if CUDA: 
        x,y = tuple(va.cuda() for va in (x,y))
    y_ = Money(x)
    loss = loss_f(y_,y)
    loss.backward()
    opt.step()
    return {"loss":loss.item()}

def val_action(*args,**kwargs):
    data_ = args[0][0].squeeze(0)
    x = data_[:,-LAG:,:]
    y = data_[:,:LAG,:]
    if CUDA: 
        x,y = tuple(va.cuda() for va in (x,y))
    y_ = Money(x)
    loss = loss_f(y_,y)
    return {"loss":loss.item()}

def inf_action(*args,**kwargs):
    """
    A step of inference action
    """
    x = args[0][0][0]
    ts = args[0][1][0]
    if CUDA:
        x = x.cuda()
    y_ = list(Money(x)[:,-LAG:,-1].cpu().detach().numpy())
    savedf = pd.DataFrame({"ts":ts,"pred":y_})
    savedf["pred"] = savedf["pred"].apply(lambda x:x.reshape(-1).tolist())
    infe_list.append(savedf)
    return {"success":1}

trainer = Trainer(train_ds, val_dataset=valid_ds, batch_size=1,shuffle=True,print_on=5)
# trainer.train_data.collate_fn = stock_collate
trainer.action = action
trainer.val_action = val_action

In [26]:
infe = Trainer(ds, batch_size=1,shuffle=False, print_on=5)
infe.action = inf_action
infe.train_data.collate_fn = stock_collate_inf

In [27]:
if TRAIN:
    trainer.train(20)
    save_model(Money,MODEL_PATH)

In [28]:
if TRAIN:
    trainer.train(20)
    save_model(Money,MODEL_PATH)

In [29]:
load_model(Money,MODEL_PATH)
infe.train(1)

⭐[ep_0_i_294]	success	1.000: 100%|██████████| 296/296 [00:57<00:00,  5.15it/s]

### Result Evaluation

In [31]:
result_df = pd.concat(infe_list,axis=0).reset_index().drop("index", axis = 1)

In [33]:
for i in range(LAG):
    result_df["day_%s"%(i)] = result_df.pred.apply(lambda x:x[i])

In [35]:
result_df.head()

,pred,ts,day_0,day_1,day_2,day_3,day_4
0,"[-0.0018474702956154943, -0.001953706843778491...",000001.SZ,-0.001847,-0.001954,-0.001850,-0.001901,-0.001854
1,"[-0.0019608710426837206, -0.001861378666944801...",600097.SH,-0.001961,-0.001861,-0.001829,-0.001843,-0.001894
2,"[-0.001988643780350685, -0.0020430288277566433...",600112.SH,-0.001989,-0.002043,-0.002066,-0.002018,-0.001923
3,"[-0.0018949415534734726, -0.002022052882239222...",600111.SH,-0.001895,-0.002022,-0.001920,-0.001893,-0.001893
4,"[-0.0018268078565597534, -0.001944877905771136...",600110.SH,-0.001827,-0.001945,-0.001992,-0.001944,-0.002010

In [39]:
for i in range(LAG):
    print("="*20,"Day %s prediction"%(i),"="*20)
    print(result_df.sort_values(by = "day_%s"%(i),ascending=False).head(10)[["ts","day_%s"%(i)]])

==================== Day 0 prediction ====================
             ts     day_0
3116  002806.SZ -0.001258
808   000938.SZ -0.001265
3451  603283.SH -0.001270
3114  300593.SZ -0.001298
3524  300747.SZ -0.001299
3118  002855.SZ -0.001302
3119  300627.SZ -0.001316
3113  300626.SZ -0.001325
2780  300502.SZ -0.001326
3115  603133.SH -0.001328
==================== Day 1 prediction ====================
             ts     day_1
3116  002806.SZ -0.001255
808   000938.SZ -0.001261
3524  300747.SZ -0.001289
3118  002855.SZ -0.001290
3114  300593.SZ -0.001290
3119  300627.SZ -0.001305
3113  300626.SZ -0.001310
3115  603133.SH -0.001314
2777  603598.SH -0.001317
3526  603650.SH -0.001318
==================== Day 2 prediction ====================
             ts     day_2
3116  002806.SZ -0.001253
808   000938.SZ -0.001257
3118  002855.SZ -0.001280
3524  300747.SZ -0.001282
3114  300593.SZ -0.001283
3119  300627.SZ -0.001295
3113  300626.SZ -0.001299
3115  603133.SH -0.001303
2777  603598.SH -0.001305
3449  002919.SZ -0.001310
==================== Day 3 prediction ====================
             ts     day_3
3116  002806.SZ -0.001250
808   000938.SZ -0.001253
3118  002855.SZ -0.001273
3114  300593.SZ -0.001277
3119  300627.SZ -0.001287
3113  300626.SZ -0.001290
3115  603133.SH -0.001293
2777  603598.SH -0.001295
2779  300464.SZ -0.001307
3446  002916.SZ -0.001309
==================== Day 4 prediction ====================
             ts     day_4
3116  002806.SZ -0.001248
3114  300593.SZ -0.001273
3113  300626.SZ -0.001282
3115  603133.SH -0.001286
2777  603598.SH -0.001288
3446  002916.SZ -0.001298
3521  300746.SZ -0.001302
2831  300515.SZ -0.001303
3110  300628.SZ -0.001303
3108  300621.SZ -0.001304